// these are the core typeface families

$sans: 'Open Sans', 'Helvetica Neue', sans-serif;
//$serif: 'Source Serif Pro', Georgia, serif;
$font-core: 'Open Sans', 'Helvetica Neue', sans-serif;
$font-title-01: 'le-havre', 'Helvetica Neue', sans-serif;
$font-title-02: 'Montserrat', 'Helvetica Neue', sans-serif;
$font-condor: 'le-havre','Helvetica Neue', Arial, sans-serif;
